@import url(https://fonts.googleapis.com/css?family=Cabin:400,700);

body, p {
  font-family: 'Cabin', sans-serif;
  margin: 0px;
}

body, p, div, a {
  box-sizing: border-box;
}

p {
  margin-bottom: 20px;
}

.header {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 550px;
  width: 100%;
  text-align: center;
  padding: 40px 40px 0px 40px;
  box-sizing: border-box;
}

.launching {
  padding: 80px 0px 40px 0px;
  font-size: 20px;
  color: grey;
}

.contact_form {
  margin: 0 auto 50px auto;
  max-width: 360px;
  width: 100%;
  background: #E2E2E2;
  padding: 40px;
  border-radius: 5px;
}

.site_logo {
  max-width: 200px;
  width: 100%;
}
